body {
    background-color:green;
}

.container-box {
    background-color: burlywood;
}

.container-box > h2 {
    color: white;
}

.container-box2 {
    background-color: rgb(53, 82, 209);
}

.container-box2 h2 {
    color: black;
}

h2 {
    color: rgba(133, 133, 133, 0.514);
}

